@font-face {
    font-family: as;
    src: url(font/6495b5b58227bec7a38a60bf_SaolDisplay-LightItalic.woff2);
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: gilroy;
}
img,h1,h2,h3,p,h4,video,span,svg{
    cursor: pointer;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    overflow: hidden;
    position: relative;
}
a{
    text-decoration: none;
    color: black;
}

/* // page 1  */
#page1{
    width: 100%;
    height: 100vh;
    background-color: aqua;
    background-image: url(assets/bg-page1.jpg);
    background-size: cover;
    background-position: center;
}
#page1 h1{
    font-size: 15.1vmax;
    text-transform: uppercase;
    line-height: .8;
    font-weight: 800;
    margin-bottom: 20px;
}
#page1 h2{
    width: 25%;
    font-size: 1.6vmax;
    line-height: 1;
    margin-left: 15px;
}
#page1 h1 span{
    font-size: 5vmax;
    font-family: as;
    text-transform: lowercase;
    font-style: italic;
}
#nav{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    padding: 0 40px;
    justify-content: space-between;
    position: relative;
}
.nav-left{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
}.nav-center{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-center img{
    width: 30%;
}
.nav-right{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: right;
}
#nav a{
    color: white;
    font-size: 1.1vmax;
    font-weight: 500;
}
#nav i{
    color: white;
    font-size: 3.8vmax;
    display: none;
    cursor: pointer;
}
.nav-right a{
    text-transform: uppercase;
}
.page1-bottom{
    width: 100%;
    height: calc(100% - 10vh);
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 30px;
    color: white;
}



/* // page 2  */
#page2{
    width: 100%;
    max-height: 140vh;
    background-color: black;
    position: relative;
    padding: 15px;
}
.page2-center{
    width: 100%;
    min-height: 100vh;
    background-color: #F9DCC5;
    border-radius: 10px;
    padding: 4.5%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 30px;
}
.vertical-line-page2{
    width: 2px;
    position: relative;
    height: 15vh;
    background-color: #d7c0ae;
}
.vertical-line-cover-page2{
    width: 100%;
    height: 30%;
    background-color: #FF2F2F;
}
.page2-img{
    width: 40%;
    object-fit: cover;
    border-radius: 5px;
    height: 90vh;
}
.page2-h1{
    font-size: 1.7vmax;
    color: #FF2F2F;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
}
.page2-p1{
    width: 40%;
    font-size: 1.1vmax;
    font-weight: 400;
    color: #ff2f2f;
}
.page2-img2{
    width: 18%;
}
.page2-bottom{
    display: flex;
    flex-direction: column;
}
.page2-bottom h1{
    font-size: 3vmax;
    line-height: .9;
    font-weight: 900;
    text-transform: uppercase;
    color: #FF2F2F;
}
.page2-bottom h1 span{
    font-size: 1.7vmax;
    font-family: as;
    text-transform: lowercase;
}
#page2 a{
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    justify-content: center;
    color: #FF2F2F;
    /* background-color: #FF2F2F; */
}
#page2 a::after{
    width:84%;
    height: 1.5px;
    background-color: #ff8080;
    position: absolute;
    left:50%;
    transform: translate(-50%,0);
    bottom: -2px;
    content: "";
}
#page2 a img{
    width: 6%;
}


/* // page 3  */
#page3{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(black,#c14f6a,#b05d70);
}

/* // page 4  */
#page4{
    width: 100%;
    min-height: 100vh;
    background-color: #b05d70;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-bottom: 5%;
    color: #f9dcc5;
}
.page4-line{
    width: 2px;
    height: 15vh;
    position: relative;
    background-color: #c271be;
}
.page4-line-cover{
    width: 100%;
    height: 5vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FF2F2F;
}
.page4-h3{
    font-size: 1.5vmax;
    margin-top: 50px;
    text-transform: uppercase;
    font-weight: 900;
}
.courage-page4{
    font-size: 12vmax;
    text-transform: uppercase;
    font-weight: 900;
    margin-top: 40px;
}
.page4-soul{
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 40px;
}
.face-page4{
    font-size: 1vmax;
    width: 40%;
    line-height: 1;
    margin-top: 5px;
}
.page4-box{
    width: 70%;
    min-height: 70vh;
    margin-top: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.img-center-page4{
    width: 60%;
    position: relative;
    z-index: 999;
    height: 75%;
    object-fit: cover;
    border-radius: 5px;    
}
.img1,.img2,.img3,.img4{
    position: absolute;
    display: none;
}
.img1{
    display: block;
    left: 8%;
    width: 13%;
    height: 20%;
    border-radius: 0;
    top: -5%;
}.img2{
    display: block;
    left: 0%;
    width: 13%;
    height: 20%;
    border-radius: 0;
    bottom: -5%;
}.img3{
    display: block;
    right: 0%;
    width: 13%;
    height: 20%;
    border-radius: 0;
    top: 20%;
}.img4{
    display: block;
    right: -5%;
    width: 13%;
    height: 20%;
    border-radius: 0;
    bottom: -5%;
}
.page4-humility{
    font-size: 14vmax;
    position: absolute;
    z-index: 99999;
    bottom: -15%;
    left: 50%;
    transform: translate(-50%,0);
    text-transform: uppercase;
    font-weight: 800;
}
.page4-box2{
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 4%;
    gap: 5px;
}
.page4-box2 h3{
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.1vmax;
}
.page4-box2 p{
    font-size: 1vmax;
    font-weight: 500;
    width: 35%;
}
.page4-box2 a{
    color: #d7c0ae;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.2vmax;
    margin-top: 10px;
    position: relative;
}
.page4-box2 a::after{
    width: 85%;
    height: 1.5px;
    background-color: #d7c0ae;
    position: absolute;
    bottom: -2px;
    left: 42%;
    transform: translate(-50%,0%);
    content: "";
}
.page4-box2 a img{
    width: 5%;
}

/* // page 5  */
#page5{
    width: 100%;
    height: 102vh;
    padding: 15px;
    background-color: #b05d70;
}
.page5-center{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}
.page5-bg{
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(https://uploads-ssl.webflow.com/6471e0e84ea1a1165daa52c5/6498631f63e42531f9f00169_biyb-cover-image-p-1600.jpeg);
    background-size: cover;
    background-position: center;
    filter: blur(5px);
}
.page5-cover{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.311);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.page5-cover-bottom{
    width: 100%;
    height: 50%;
    display: flex;
    padding: 0 50px;
}
.page5-cover-bottom-left{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
    color: #d7c0ae;
}
.page5-cover-bottom-left img{
    width: 45%;
}
.page5-cover-bottom-left h3{
    font-family: as;
    font-size: 1.8vmax;
}
.page5-cover-bottom-left p{
    width: 70%;
    font-weight: 500;
}
.page5-cover-bottom-left a{
    display: flex;
    align-items: center;
    gap: 10px;
    white-space: nowrap;
    margin-top: 10px;
    color: #d7c0ae;
}
.page5-cover-bottom-left a img{
    width: 7%;
}
.page5-cover-bottom-right{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: right;
}
.page5-cover-bottom-video{
    width: 65%;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c14f6a;
    background-image: url(https://uploads-ssl.webflow.com/6471e0e84ea1a1165daa52c5/6498631f63e42531f9f00169_biyb-cover-image.jpeg);
    background-size: cover;
    background-position: center;
    flex-direction: column;
}
.page5-cover-bottom-video-circle{
    width: 10vh;
    height: 10vh;
    background-color: rgba(0, 0, 0, .5);
    backdrop-filter: blur(5px);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all ease .3s;
}
.page5-cover-bottom-video-circle:active{
    scale: .9;
    backdrop-filter: blur(10px);
}
.page5-cover-bottom-video-circle:hover{
    backdrop-filter: blur(10px);
}

.page5-cover-bottom-video-circle img{
    width: 25%;
}

/* // page 6 */
#page6{
    width: 100%;
    min-height: 60vh;
    background-color: #b05d70;
    gap: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 8%;
}.page6-line-vertical{
    width: 1px;
    height: 10vh;
    background-color: #401714;
}
#page6 h1{
    width: 40%;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 2.5vmax;
    margin-top: 5%;
    color: #401714;
}
#page6 h1 span{
    font-family: as;
    font-weight: 600;
}
.page6-bottom{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.page6-bottom-line{
    width: 40%;
    height: 1.5px;
    background-color: #401714;
}
.page6-bottom img{
    width: 10px;
}

/* // page 7  */
#page7{
    width: 100%;
    height: 100vh;
    display: flex;
    padding: 1% 5%;
    color: #401714;
    background-color: #b05d70;
}
.page7-left{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: start;
    gap: 10px;
    /* background-color: #be002c; */
    flex-direction: column;
}
.page7-left h1{
    font-size: 5vmax;
    text-transform: uppercase;
    line-height: .9;
    width: 70%;
    font-weight: 900;
}
.page7-left h1 span{
    font-family: as;
    text-transform: lowercase;
    font-size: 3vmax;
    font-weight: 500;
}
.page7-left h3{
    text-transform: uppercase;
    font-size: 1vmax;
    width: 60%;
    margin-top: 40px;
}
.page7-left p{
    width: 70%;
    font-weight: 500;
    color: #401714d2;
    line-height: 1;
}
.page7-right{
    width: 50%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    /* background-color: #c14f6a; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.page7-right-box{
    width: 70%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    /* background-color: #401714; */
}
.page7-card{
    width: 100%;
    height: 17vh;
    gap: 10px;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    border-bottom: 1.5px solid #401714;
}
.page7-card h3{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.15vmax;
}
.page7-card p{
    font-size: 1vmax;
    font-weight: 500;
    line-height: 1;
}

.page7-right-box h1{
    font-weight: 900;
    font-size: 2.1vmax;
    line-height: 1;
}
.page7-right-box h1 span{
    font-family: as;
    font-weight:500;
}

/* // page 8  */
#page8{
    width: 100%;
    min-height: 110vh;
    background-color: #404628;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#page8 .page8-bg{
    width: 100%;
    height: 110vh;
    filter: none;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    opacity: .8;
    z-index: 0;
    left: 0;
    z-index: 99;
}
.page8-cover{
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: repeat;
    background-position: 50%;
    background-color: #374231;
    position: absolute;
    top: 0;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    left: 0;
}

.page8-cover-top{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}.page8-cover-bottom{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#page8 h1{
    font-size: 5vmax;
    font-weight: 900;
    text-transform: uppercase;
    color: white;
    line-height: .9;
    width: 70%;
}
#page8 h1 span{
    font-family: as;
    font-size: 4vmax;
    text-transform: lowercase;
}
.page8-cover .page8-img{
    width: 12px;
}
.page8-h1{
    text-align: right;
}
#page8 video{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    filter: blur(40px);
    object-position: center;
}


/* // page 9  */
#page9{
    width: 100%;
    height: 100vh;
    /* background-color: #333; */
    background-color: #374231;
    padding: 12px;
}.page9-cover{
    width: 100%;
    border-radius: 5px;
    height: 100%;
    background-image: url(https://uploads-ssl.webflow.com/6471ddcb5282041b072c6552/64cd3fdbf2e13c49a48ae210_metaphorleaf.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
.page9-center{
    width: 100%;
    position: absolute;
    top: 50%;
    /* height: 10px; */
    /* background-color: #401714; */
    transform: translate(0%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #c4b84e;
    
    justify-content: center;
}
.page9-center .page9-h1{
    font-size: 2.1vmax;
    text-transform: uppercase;
    font-weight: 800;
}
.page9-center .page9-h1 span{
    text-transform: lowercase;
    font-family: as;
    font-size: 1.7vmax;
}
.page9-center h1{
    font-size: 14vmax;
    text-transform: uppercase;
    font-weight: 800;
    line-height: .8;
}
.page9-h2{
    font-size: 1.7vmax;
    position: absolute;
    bottom: 13%;
    left: 50%;
    transform: translate(-50%,0);
    text-transform: uppercase;
    color: #c4b84e;
    display: flex;
    gap: 10px;
    align-items: center;
}
.page9-h2 span{
    font-family: as;
    font-size: 1.5vmax;
    text-transform: lowercase;
}
.page9-play{
    width: 100%;
    position: absolute;
    bottom: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.play-line{
    width: 40%;
    height: 5px;
    display: flex;
    align-items: center;
    position: relative;
    /* background-color: #401714; */
}
.play-line::after{
    content: "00:00";
    position: absolute;
    left: 0;
    bottom: -25px;
    font-weight: 500;
    color: rgb(92, 130, 99);
}.play-line::before{
    content: "05:20";
    position: absolute;
    right: 0;
    bottom: -25px;
    font-weight: 500;
    color: rgb(92, 130, 99);
}
.play-line-line{
    width: 100%;
    height: 1px;
    background-color: rgb(92, 130, 99);
}
.play-line-circle{
    width: 8px;
    height: 8px;
    background-color: #404628;
    border-radius: 50%;
    position: absolute;
    left: 0%;
    flex-shrink: 0;
}

/* // page 10  */
#page10{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #374231;
    flex-direction: column;
    gap: 15%;
}
#page10 h1{
    text-transform: uppercase;
    font-size: 4vmax;
    width: 60%;
    color: #c4b84e;
    font-weight: 800;
    line-height: .85;

}
#page10 a{
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    color: #c4b84e;
    font-size: 1.3vmax;
}
#page10 a img{
    width: 10px;
}
#page10 a::after{
    width: 100%;
    height: 1px;
    left: 0;
    bottom: -5px;
    background-color: #c4b84e;
    content: "";
    position: absolute;
}

/* // page 11  */
#page11{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: #FF2F2F;
    background-color: #eed3bd;
    align-items: start;
    padding: 40px;
}

.page11-top{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page11-top p{
    width: 30%;
    text-align: center;
    position: relative;
    right: 4%;
}
#page11 h1{
    font-size: 15vmax;
    line-height: .8;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 900;
}
.page11-top h1 span{
    font-family: as;
    text-transform: lowercase;
    font-size: 5vmax;
}
#page11 .page11-view{
    color: #FF2F2F;
    text-transform: uppercase;
    font-weight: 500;
    display: flex;
    gap: 10px;
    position: relative;
}
#page11 .page11-view::after{
    width: 100%;
    height: 1.5px;
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    background-color: #FF2F2F;
}
#page11 .page11-view img{
    width: 10px;
}
.page11-second{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.page11-card{
    width: calc(100%/3);
    height: 60vh;
    border-radius: 5px;
    background-color: #e2817c;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    color: hsla(4.090909090909091, 52.38%, 16.47%, 1.00);
}
.page11-card h2{
    text-transform: uppercase;
    font-weight: 800;
    font-size: 2vmax;
}
.page11-card p{
    font-weight: 500;
}
.page11-pay-img{
    width: 65%;
    position: absolute;
    bottom: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 38%;
    background-color: #401714;
    border-radius: 5px;
    overflow: hidden;
}
.page11-pay-img .card-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.card-play{
    width: 7vh;
    height: 7vh;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(17, 6, 5, .7);
    backdrop-filter: blur(3px);
    position: absolute;
    top: 50%;
    left: 50%;
    /* background-image: url(https://uploads-ssl.webflow.com/6471ddcb5282041b072c6552/649702ecdc2ac32fe763d70c_play-light.svg); */
    background-size: cover;
    transform: translate(-50%,-50%);
    transition: all ease .15s;
}
.card-play:active{
    scale: .95;
}
.page11-card h5{
    position: absolute;
    bottom: 5%;
    right: 5%;
    font-size: 1vmax;
    font-weight: 500;
}


/* // page 12  */
#page12{
    width: 100%;
    height: 100vh;
    background-color: #ebd0ba;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #FF2F2F;
}
#page12 h2{
    font-family: as;
    font-size: 2vmax;
    font-size: 300;
}#page12 h1{
    font-size: 4vmax;
    text-transform: uppercase;
    font-weight: 800;
    line-height: .9;
}
#page12 .input{
    width: 40%;
    height: 60px;
    /* background-color: #401714; */
    border: .5px solid #FF2F2F;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border-radius: 6px;
}
#page12 input{
    width: 80%;
    height: 50px;
    border: none;
    outline: none;
    font-size: 1.3vmax;
    color: #FF2F2F;
    background: none;
}
#page12 a{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.2vmax;
    font-weight: 500;
    color: #FF2F2F;
    position: relative;
}
#page12 a img{
    width: 10px;
}
#page12 a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 1.5px;
    background-color: #FF2F2F;
}


/* // footer  */
#footer{
    width: 100%;
    height: 100vh;
    background-color: #270101;
    position: relative;
    top: 0;
    z-index: -1;
    padding: 0 5%;
}
.footer-top{
    width: 100%;
    height: 90%;
    /* background-color: #404628; */
    display: flex;
    padding-top: 5%;
    padding-bottom: 1%;
}
.footer-top-left{
    width: 60%;
    height: 100%;
    /* background-color: #b05d70; */
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-top-left h1{
    font-size: 4vmax;
    line-height: .9;
    width: 80%;
    font-weight: 800;
    color: #FF2F2F;
    text-transform: uppercase;
}
.footer-top-left p{
    font-weight: 500;
    width: 60%;
    color: #FF2F2F;
}
.footer-top-left h1 span{
    font-family: as;
    text-transform: capitalize;
}
.footer-top-left-a{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 50%;
    margin-top: 20px;
}
.footer-top-left-a a{
    font-size: 1.2vmax;
    font-weight: 500;
    color: #FF2F2F;
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    text-transform: uppercase;
}
.footer-top-left-a a img{
    width: 10px;
}
.footer-top-left-a a::after{
    width: 100%;
    height: .6px;
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    background-color: #FF2F2F;
}
.footer-top-right{
    width: 40%;
    height: 100%;
    /* background-color: #87122e; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.footer-top-right p{
    color: #ff2f2f;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1vmax;
    position: relative;
    left: -18%;
}
.footer-card{
    width: 60%;
    height: 80%;
    position: relative;
    padding: 20px;
    /* background-color: #374231; */
    background-image: url(https://uploads-ssl.webflow.com/6471e0e84ea1a1165daa52c5/6498631f63e42531f9f00169_biyb-cover-image.jpeg);
    background-size: cover;
    background-position: center;
}

.footer-card a{
    position: absolute;
    bottom: 20px;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1vmax;
    display: flex;
    align-items: center;
    gap: 10px;
}
.footer-card img{
    width: 70%;
    margin-top: 10px;
}
.footer-card a img{
    width: 10px;
    margin-top: 0;
}

.footer-bottom{
    width: 100%;
    height: 10%;
    border-top: 1px solid #87122e;
    /* background-color: #462828; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-bottom a{
    font-size: 1vmax;
    font-weight: 500;
    color: #FF2F2F;
}